# Raw datasets
data/IR
data/MALDI
data/*.xlsx

# Results because models are too heavy for github
/results/

# Logs
/logs/
/wandb/
/__pycache__
results/sshiba_reg_noalignment.pickle
results/RandomForest_noalignment.pickle
